.container-home {
    margin: auto;
}

.container-background {
    background-image: url('../../images/background.svg');
    background-repeat: no-repeat;
    background-size: cover;
}

.first-section-home {
    text-align: center;
    width: 45%;
    height: 90vh;
    margin: auto;
    background: rgba(80, 128, 107, 0.30);
    backdrop-filter: blur(15px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.first-section-home h2 {
    font-size: 80px;
}

.first-section-home p {
    font-size: 30px;
    width: 80%;
}

.section-popular {
    background-color: white;
    width: 70%;
    margin: auto;
}

.section-popular h2 {
    font-size: 45px;
    margin: 40px 0 25px 0;
}

.section-popular span {
    color: var(--title-pink);
}

.section-popular div {
    margin: 15px 0;
    display: flex;
    justify-content: space-around;
}

.section-popular-2 {
    background-color: #E0E5F6;
    padding: 5px 0;
}

.section-review div {
    display: flex;
    justify-content: center;
    text-align: center;
}

.section-review h2 {
    margin: 25px 0;
    text-align: center;
    font-size: 45px;
}
