.card-geometric {
    display: flex;
    flex-direction: column;
    width: 20%;
    border-radius: 15px;
    margin: 20px 20px;
    padding: 20px;
    box-shadow: 0px 8px 23px 0px rgba(80, 107, 82, 0.3);
    background-color: white;
}

.card-geometric img {
    width: 100%;
}

.card-geometric h3 {
    font-size: 25px;
}

.card-geometric p {
    margin-bottom: 10px;
}

.card-geometric button {
    border: none;
    font-size: 20px;
    background-color: var(--title-pink);
    padding: 5px 30px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
}

.card-geometric a {
    font-size: 20px;
    color: white;
    font-weight: bold;
}